.my-picture {
    width: 500px;
    border-radius: 20px;
}

.vk {
    width: 50px;

}

.youtube {
    width: 80px;
}

.card {
    border-radius: 50px;
    background-color:floralwhite;
    width: 1200px;
    margin: 200px auto 0 auto;
    display: flex;
    border:2px solid #222222;
    padding: 20px;
    justify-content: space-around;
}

.alltext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #222222;
    font: bold;
    font-size: 20px;
}